#formDiv {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#contactImg {
    padding: 20px;
    margin: 0 auto;
}
@media (max-width: 825px) {
    #formDiv {
        grid-template-columns: 1fr;
    }
    #contactImg {
        display: none;
    }
}