@import './assets/css/nav.css';
@import './assets/css/home.css';
@import './assets/css/contact.css';
#root {
  max-width: 100%;
  margin: 0 auto;
  background-color: #c9c0b7;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}


.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 100%;
}

.app-grid {
  display: grid;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.app-nav {
  grid-area: nav;
}

.app-content {
  grid-area: content;
}

.app-footer {
  grid-area: footer;
}